@import './colors';

.footer-container {
    width: 100%;
    height: 8em;
    display: flex;
}

.footer-gutter {
    width: 15%;
    height: 100%;
    background-color: $mirage;
}

.footer-body {
    width: 70%;
    height: 100%;
    background-color: $gold-tips;
}
