@import './colors';

.main-content-gutter {
    width: 15%;
    height: calc(100% - 4em);
    margin: 0;
    display: block;
    background-color: darken($boston-blue, 30%);
}

.main-content-body {
    width: 70%;
    height: calc(100% - 4em);
    background-color: $boston-blue;
}

.main-content-container {
    display: flex;
    padding-top: 4em;
}
