@import './colors';

.main-content-gutter {
    width: 15%;
    height: 100%;
    margin: 0;
    display: block;
    background-color: $mirage;
}

.main-content-body {
    width: 70%;
    height: 100%;
    background-color: white;
    font-family: Tahoma, sans-serif;
    font-size: 48px;
}

.main-content-container {
    padding-top: 4em;
    display: flex;
    height: 100%;
}

.main-content-hero {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 80px;
    background-color: $boston-blue;
    color: white;
}

.main-content-hero-spacer {
    height: 7em;
    background-color: $boston-blue;
}