@import './colors';

.navbar-container {
    height: 4em;
    width: 100%;
    background-color: $mirage;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-home {
    font-family: monospace;
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 0.5em;
    padding-left: 15%;
    font-size: 30px;
}
